  $cor-branca: #acc9b5;
  $cor-primaria: #EDF1D6;
  $cor-secundaria: #9DC08B;
  $cor-terciaria: #609966;
  $cor-quartenaria: #40513B;
  $gradiente-primario: linear-gradient(180deg, $cor-branca 0%, #a4d1a0ab, #ffffff);
  $gradient-secundario: linear-gradient(180deg, $cor-primaria 0%, $cor-secundaria 100%);

  $font-textos: 'montserrat', sans-serif;
  $font-titulo: 'krona one', sans-serif;